<div class="pizza-form">
  <form [formGroup]="form">
<label><h4>Pizza name</h4>
<input type="text" placeholder="e.g. pepperoni" formControlName="name"
class="pizza-form__input"
[class.error]="nameControlInvalid">
<div *ngIf="nameControlInvalid" class="pizza-form__error">
  <p>Pizza must have a name</p></div>
</label>
    <label>
      <h4>Select topping(s)</h4>
    <div class="pizza-form__list"><app-pizza-toppings [toppings]="toppings"
    formControlName="toppings"></app-pizza-toppings></div>
    </label>

    <ng-content></ng-content>
    <div class="pizza-form__actions">
      <button *ngIf="!exists"
              (click)="onCreate()"
              class="btn btn__ok">Create Pizza</button>
      <button *ngIf="exists"
              (click)="onChange()"
              class="btn btn__ok">Save changes</button>
      <button *ngIf="exists" class="btn btn__warning"
              (click)="onDelete()"
      >Delete Pizza</button>
    </div>
  </form>
</div>
