<div class="product-item">
  <app-pizza-form [pizza]="pizza"
  [toppings]="toppings"
  (selected)="onSelect($event)"
  (create)="onCreate($event)"
  (pizzaChange)="onChange($event)"
  (delete)="onDelete($event)">

<app-pizza-display [pizza]="newPizza">

</app-pizza-display>
  </app-pizza-form>
</div>
