<div class="pizza-display">
  <div class="pizza-display__base">
    image here...
    <img *ngFor="let topping of pizza?.toppings; index as i"
     src="assets/img/toppings/{{topping.name}}.svg"
     [style.zIndex]="i"
     class="pizza-display__topping" alt="">
</div>
</div>
