/* You can add global styles to this file, and also import other style files */
$default_margin: 35px;
$default_bc:#fff;
$default_br:4px;
$cs_font:'cornerstone';

@font-face{
font-family: $cs_font;
src: url("./fonts/cornerstone.woff");
font-weight:normal;
font-style: normal;
}

header{
  height:15vh;
background-color:orange;
  display: flex;
  justify-content: space-between;
}
.outlineEle{
  margin:5px 20px;
}
a{
  text-decoration: none;
}

.btn{
  display: inline-block;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'cornerstone';
  cursor: pointer;
  transition: all 0.2s ease;
  &__ok{
    background: #0f9675;
    color:#fff;
  }
}

.container {
  background-color: #fff;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 4px;
  max-width: 1000px;
  margin: 0 auto 50px;
  &__nav{
    background: #ab131b;
    display:flex;
    text-align: center;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
    a{
      color:#fff;
      padding:15px $default_margin;
      &.active{
        background:#921217;
      }
    }
  }
  &__content{
    padding:35px;
    background-color:darkred;
    &__new{
      margin: -35px -35px $default_margin -35px;
      background:#f9f9f9;
      padding: $default_margin;
      display: flex;
      justify-content: center;
      align-items: center
    }
    &__list{
      display:flex;
      flex-wrap:wrap;
      pizza-item{
        background:#fff;
        flex: 0 0 33.33%;
        margin: 0 0 55px 0;
        transition: 0.2s all ease;
        a{
          color:black;
        }
        .pizza-item{
          text-align:center;
          margin: 0 10px;
          padding: 20px 10px;
          border-radius: 4px;
          background: #f5f5f5;

          pizza-display{
            display:block;
            .pizza-display{
              &__base{
                position: relative;
                text-align:center;
              }
            }
          }
          h4{
            margin: 10px 0;
            font-size: 20px;
            font-weight: normal;
            font-family:'cornerstone';
          }
        }
      }
    }
  }
}

footer{
  height: 25vh;
  background-color:darkorchid;
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 4px 4px;
  color: #fff;
  padding: 10px;
  text-align: center;
  .footer__section {
    width: 300px;
    color:white;
    margin: 30px 30px;
  }
}
