<div class="pizza-toppings">
  <div class="pizza-toppings-item"
       *ngFor="let tp of toppings;"
  [class.active]="existsInToppings(tp)"
  (click)="selectTopping(tp)">
    <img src="/assets/img/toppings/{{tp.name}}.svg">
    {{tp.name}}
  </div>
</div>
